extends layout

block content
  h1(align="center") Payment
  table(class="table table-striped table-muted text-center")
    tr
      th Bayar
      th Total
      th Kembali
    tr
      td #{bayar}
      td #{total}
      td #{kembali}
    tr
      td
      td
      td
        - var dataCart = cart
        
  br
  button.btn.btn-primary.btn-lg.btn-block.login-button(onclick=`post("/kasir/commit",{cart: '${JSON.stringify(dataCart)}'},"POST")`) SUBMIT
        //.form-group
          button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Add Product