extends layout

block content

  if employeeNew
    table(class="table table-success text-center")
      thead
        tr
          th Name
          th Username
          th Role
          th
      tbody
        tr
          td= employeeNew.name
          td= employeeNew.username
          td= employeeNew.role
          td
  h2(align="center") Employees
  table(class="table table-striped text-center")
    thead
      tr
        th Name
        th Username
        th Role
        th Action
    tbody
    - var val = 0;
    while val < len        
      tr(id="employee-"+`${val}`)
        td= employees.name[parseInt(val)]
        td= employees.username[parseInt(val)]
        td= employees.role[parseInt(val)]
        td
          form(action="/admin/employees/delete", method="post")
            input(type="hidden", name="username", value=employees.username[parseInt(val)])
            input(type="submit", value="Delete",class="btn btn-danger")
      - val += 1;  