extends layout

block content
  if !session
    p Not logged in
  if session
    .container
    br
    .row.justify-content-center
      .col-12.col-md-10.col-lg-8
        form.card.card-sm(id="search-form",class="form-class",method="post",action="/kasir/search/")
          .card-body.row.no-gutters.align-items-center
            .col-auto
              i.fas.fa-search.h4.text-body
            .col
              input.form-control.form-control-lg.form-control-borderless(id="search-box",type="search",name="searchVal",placeholder="Search Item")
              input(type="hidden",id="hidden-cart",value=cart,name="cart")
            .col-auto
              button.btn.btn-lg.btn-success(type='submit') Search


    div(id="cart-div") 
      if Object.keys(cart).length > 0
          h2(align="center") Cart
          table(class="table table-striped table-muted text-center")
            tr
              th Nama
              th Harga
              th Qty
              th Sub Total
              th Hapus
  
            - var total = 0;
            - var index = [];
            each val in Object.keys(cart)
              if cart[val].pName
                tr(id="cart-"+`${val}`)
                  td= cart[val].pName
                  td= cart[val].price
                  td= cart[val].qty
                  td= cart[val].qty*cart[val].price
                  td
                    button(onclick=`deleteKey('${JSON.stringify(cart)}','${val}');document.getElementbyId(${Object.keys(cart)[i]}.innerHTML='')`,class="btn btn-danger") Delete
                  - total += cart[val].qty*cart[val].price
          
          br
          div(role="form")
            form(id="tagihan",class="form-row",method="post",action="/kasir/bayar")
              input(type="hidden",name="cart",value=JSON.stringify(cart),class="form-control")
              dic(class='col')
                input(type="text",placeholder="Uang yang dibayarkan",name="bayar",required,class="form-control text-center")
              dic(class='col')
                input(type="text",readonly,name="tagihan",value=total,class="form-control text-center")
              dic(class='col')
                input(type="submit",value="Bayar",class="btn btn-success btn-block")

            
    if productCodes
        h2(align="center") Products
        table(class="table table-striped table-muted text-center")
          thead
            tr
              th(scope="col") NAMA
              th(scope="col") HARGA
              th(scope="col", id='qty') JUMLAH
              th(scope="col") ADD
          tbody
            - for(var i=0; i<len;i++)
              tr
                td(scope="row") #{productNames[i]}
                td #{prices[i]}
                td
                  input(id="qty-"+`${i}` type="number", required, value=0,class="form-control form-control-sm text-center")
                td
                  button.btn-info(id="add-id-"+`${i}` onclick=`addToCart('${productCodes[i]}','${productNames[i]}',${prices[i]},'qty-'+${i},${JSON.stringify(cart)});`) +