extends layout_plain

block head
  link(href='/css/login.css', rel='stylesheet')

block content
  if !session
    .wrapper.fadeInDown
      #formContent
        // Tabs Titles
        // Icon
        .fadeIn.first
          img#icon(src='/LogoBlack.png', alt='User Icon')
          h1 Cashare
        // Login Form
        form(method="post",action="/login")
          input#login.fadeIn.second(type='text', name='username', placeholder='username')
          input#password.fadeIn.third(type='password', name='password', placeholder='password')
          input.fadeIn.fourth(type='submit', value='Log In')

  if session
    div(onload="location.href='/'")