extends layout

block content
  if productNew
    table(class="table table-success text-center")
      thead()
        tr
          th Product Code
          th Product Name
          th Sell Price
          th Buy Price
          th Stock
          th
      tbody
        tr
          td= productNew.productCode
          td= productNew.productName
          td= productNew.sellPrice
          td= productNew.buyPrice
          td= productNew.stock
          td
  h2(align="center") Products
  .container
  br
  .row.justify-content-center
    .col-12.col-md-10.col-lg-8
      form.card.card-sm(id="search-form",class="form-class",method="get",action="/admin/products")
        .card-body.row.no-gutters.align-items-center
          .col-auto
            i.fas.fa-search.h4.text-body
          .col
            input.form-control.form-control-lg.form-control-borderless(id="search-box",type="search",name="searchProduct",placeholder="Product Name")
            input(type="hidden",id="hidden-cart",value=cart,name="cart")
          .col-auto
            button.btn.btn-lg.btn-success(type='submit') Search

  if products
    table(class="table table-striped text-center")
      thead
        tr
          th Product Code
          th Product Name
          th Sell Price
          th Buy Price
          th Stock
          th Action
      tbody
        - var val = 0;
        while val < len        
          tr(id='product-'+`${val}`)
            td= products.productCode[val]
            td= products.productName[val]
            td= products.sellPrice[val]
            td= products.buyPrice[val]
            td= products.stock[val]
            td
              div(class="container")
                div(class="row")
                  div(class="col-sm")
                    form(action="/admin/products/add", method="post")
                      input(type="hidden", name="productKey", value=products.productCode[val])
                      input(type="number", name="stockAdded",class="form-control form-control-sm text-center",required)
                      input(type="submit", value="Add Stock",class="btn btn-success")
                  div(class="col-sm") 
                    form(action="/admin/products/delete", method="post")
                      input(type="hidden", name="productKey", value=products.productCode[val])
                      input(type="submit", value="Delete product",class="btn btn-danger") 
          - val += 1;  