extends layout_plain

block content
  h2(align="center") Payment's detail

  table(class="table table-striped text-center")
    thead
      tr
        th Product Code
        th Product Name
        th Qty
        th Harga Jual
        th Sub-Total
    tbody
      - var val = 0;
      while val < len        
        tr(id='payment-'+`${val}`)
          td= productCode[parseInt(val)]
          td= productName[parseInt(val)]
          td= qty[parseInt(val)]
          td= priceEach[parseInt(val)] 
          td= subTotal[parseInt(val)]
        - val += 1;  
    tr    
      th(class="text-center") Total payment
      th
      th
      th
      td(class="text-center")=total

